section,
.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/*
    TODO:
    * pick a cool gradient from https://www.grabient.com/
*/
section {
    overflow: hidden;
}

/*
    TODO:
    * Create a grid with 16 equal rows and 9 equal columns
    * Skew the grid -10 degrees when done placing the stripes
*/
.background {

}

.stripe {
    /* fade the bakground from white 20% opaque  */
    background: linear-gradient(-25deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.4) 80%);
}

/* Stripes */
/*
    TODO:
    * add 5 random stripes
    (tip: it looks nice when they touch either side (left/right) of the grid)
*/
.stripe-1 {

}

.stripe-2 {

}

.stripe-3 {

}

.stripe-4 {

}

.stripe-5 {

}