/*
    TODO:
    * display the whole page as a grid
    * use 3 columns (ratio 20 / 60 / 20)
    * use a holy grail layout with:
    * header full width
    * menu on the left
    * content in the middle
    * newsletter & quote on the right
    * footer full width
*/
body {

}

/*
    TODO:
    * put the blocks in their corresponding grid area
*/
.header {

}

.menu {

}

.content {

}

.newsletter {

}

.quote {

}

.footer {

}

/* Responsiveness */
/*
    SMALL DESKTOP
    TODO:
    * display the page in 2 columns (ratio 25 / 75)
    * header spans 2
    * menu spans 1
    * content spans 1
    * newsletter under menu
    * quote spans 2
    * footer spans 1
*/
@media only screen and (max-width: 1280px) {
    body {

    }
}

/*
    TABLET AND UNDER
    TODO:
    * 1 column, everything under eachother
*/
@media only screen and (max-width: 768px) {
    body {

    }
}

/* Following styling is pure 💅 and has nothing to do with css grid */
/* General */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #21203A;
}

/* Header */
.header {
    background-color: #E53D3B;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

/* Menu */
.menu {
    background-color: #eee;
    padding: 2rem;
}

.menu ul li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

/* content */
.content {
    padding: 2rem;
    line-height: 1.5;
}

.content p + p {
    margin-top: 1rem;
}

.content h2 {
    margin-top: 2rem;
}

.content h2:nth-of-type(1) {
    color: #F4C839;
}

.content h2:nth-of-type(2) {
    color: #6BC6E4;
}

.content h2:nth-of-type(3) {
    color: #E53D3B;
}

/* Newsletter */
.newsletter {
    background-color: #eee;
    padding: 2rem;
}

/* Quote */
.quote {
    background-color: #FED03B;
    color: white;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    padding: 2rem;

    background-color: #212139;
    color: white;

    text-align: left;
}