.form-1 {
    display: grid;
    grid-gap: 10px;
}

.form-2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
}

.form-3 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr auto 1fr;
}

.form-3 textarea {
    grid-column-start: 1;
    grid-column-end: -1;
}


/* Following styling is pure 💅 and has nothing to do with css grid */
/* General */
body {
    font-family: 'Roboto', sans-serif;
    color: #21203A;

    max-width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

h2 {
    margin-bottom: 1rem;
}

input, textarea {
    min-height: 2rem;
    border: 1px solid rgba(33, 32, 58, 0.5)
}

hr {
    margin: 3rem 0;
    border-color: #21203A;
}
