body {
    padding: 100px 0;
}

img {
    width: 100%;
}

/*
    TODO:
    * make the grid re-arrange itself to fill the gaps
*/
.grid {
    margin: 0 auto;
    max-width: 80%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

/*
    TODO:
    * make the square hightlight span 2 columns & 2 rows
*/
.highlight-square {

}

/*
    TODO:
    * make the rectangle hightlight span 2 columns & 1 row
*/
.highlight-rectangle {

}

/* Responsiveness */
@media only screen and (max-width: 1280px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .grid {
        max-width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    /*
        TODO:
        * make the highlights behave like any other item in the grid
    */
    .highlight-square,
    .highlight-rectangle {

    }
}